parameters:
    level: 9
    paths:
        - src
        - config
        - database/factories
        - database/seeders
        - tests
    ignoreErrors:
        -
            message: '#Constant [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+ is unused.#'
            path: src/Enums/*

includes:
    - vendor/larastan/larastan/extension.neon
