includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - config
        - database/factories
        - database/seeders
        - routes
        - src
        - tests

    level: 5

    configDirectories:
        - config

    ignoreErrors:
        -
            message: '#^Call to an undefined method Faker\\Generator::#'
            path: database/factories/*
            reportUnmatched: false
        -
            message: '#^Constant [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+ is unused.$#'
            path: src/Enums/*
            reportUnmatched: false
